
.group-event-container {
    border-top: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%;
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    background-color: aqua;
  }

  .group-event-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid #ccc;
    margin-right: 20px;
    border-radius: 10px;
  }

  .group-event-container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .group-event-container h2, .group-event-container p {
    margin: 0;
  }

  .group-event-container h2 {
    font-size: 40px;
  }

  .group-event-container p:first-of-type {
    font-weight: bold;
  }

  .group-event-container p:nth-of-type(2) {
    font-size: 18px;
  }

  .group-event-container p:nth-of-type(3) {
    /* Style for the events and public/private text */
  }

