#group-city {
    width: auto;
}

#group-state {
    width: auto;
}

form {
    max-width: 800px;
    margin: auto;
}

.head-edit {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
