/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');



body {
    font-family: 'Source Sans 3', sans-serif;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    padding-bottom: 60px;
}

h1 {
    font-family: 'Gabarito', sans-serif;
    font-size: 24px;
}

h2 {
    font-family: 'Gabarito', sans-serif;
    font-size: 18px;
}

h3 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
}

h4 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 14px;
}

h5 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 12px;
}

h6 {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 10px;
}

p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.large {
    font-size: 40px;
}

.main-button-1 {
    padding: 10px 20px;
    background-color: #628C2A;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
}

.main-button-1:hover {
    background-color: #0a530e;
}

.main-button-1:disabled {
    background-color: #ccc;
    cursor: default;
}

.main-button-2 {
    background-color: #f3f3f3;
    color: #333;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
}

.main-button-2:hover {
    background-color: #c9c9c9;
}

.main-button-2:disabled {
    background-color: #000;
    color: #ccc;
    cursor: default;
}

.small-button-1 {
    background-color: #628C2A;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    padding: 10px 10px;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.small-button-1:hover {
    background-color: #0a530e;
}

.small-button-2 {
    background-color: #2d2d2d;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    padding: 10px 10px;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.small-button-2:hover {
    background-color: #000000;
}

.menu-button {
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
    padding: 0;
    border-radius: 8px;
    border: 3px solid #628C2A;
}

input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="url"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profile-icon {
    color: #628C2A;
}
