.events-page nav {
    display: flex;
    justify-content: left;
    gap: 20px;
  }

  .events-page .active {
    font-weight: bold;
    text-decoration: underline;
    color: teal;
}

  .event-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .event-container {
    border-top: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    width: 80%; /* Adjust as needed */
    text-decoration: none;
    color: inherit;
  }

  .event-container img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    margin-right: 20px;
  }
