h1 {
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 0.85em;
  text-align: center;
  margin-bottom: 10px;
}

.pop-up-label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.pop-up-input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
  width: 100%;
}

